* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
      font-family: "Nuninto Sana", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

section {
    width: 45%;
    /* background-color: aqua; */
    /* height: 500px; */
    padding: 20px;
}

.sectiom-top {
    width: 100%;
    padding: 24px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.sectiom-top>img {
    width: 200px;
}

.sectiom-top>h3 {
    font-size: 17.5px;
    font-weight: 600;
    color: #512c5b;
}

.section-bot {
    min-width: 310px;
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    border: 2px solid #e9ebf2;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

}

.signin-field {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.signin-field>input {
    padding: 0 22px;
    border: 1px solid #eaecf3;
    font-size: 14px;
    height: 45px;
}

.signin-field>label {
    font-size: 16px;
    color: #62759d;
    font-weight: 700;
}

.signin-rem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}

.signin-rem>nav>label {
    font-size: 16px;
    color: #62759d;
    line-height: 24px;
}
.signin-rem>nav>label>p{
    color: #008aff;
    display: inline;
}
.signin-rem>nav>input{
    margin-right: 5px;
    border-radius: 0.25em;
     width: 1em;
    height: 1em;
    margin-top: 0.35em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
}
.signin-rem>p{
    color: #008aff;
    font-size: 16px;
}
.section-bot>button{
    font-size: 16px;
    font-weight: 700;
    padding: 8px 15px;
    background-color: #7e5af8;
    text-align: center;
    color: #fff;
    border: 0;
    border-radius: 8px;
}
.section-bot>p{
    font-size: 16px;
    color: #62759d;

}
.section-bot>p>label{
    color: #008aff;
}


/* signup */

.section-bot>h3{
    text-align: center;
    font-size: 16px;
    color: #62759d;
    font-weight: 300;
}
.section-bot>h3>label{
    color: #008aff;
}
@media (max-width:800px) {
    section{
        width: 90%;
    }
    
}
@media (max-width:400px) {
    body{
        height: auto;
    }
    section{
        width: 100%;
    }
    .section-bot {
    min-width: 250px;}
}